/* цвет заголовков #2E2F42 */
/* цвет основоного текста #434455 */
/* цвет фона шапки #E7E9FC */
/* первый цвет секции #FFFFFF*/
/* второй цвет секции цвет иконок внутри кнопок #F4F4FD */
/* цвет кнопок #4D5AE5 */
/* цвет hero заголовка и заголовка с соц сетям в подвале #FFFFFF */

/* КАСТОМНЫЙ CSS СВОЙСТВА */
:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #2E2F42;
    --foreign-text-color: #434455;
    --white-title-text-color: #FFFFFF;
    --icon-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --focus-color: #404BBF;
    --color-bb: #000000;
}

body {
    background-color: var(--white-title-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
    text-decoration: none;
}

.link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}



.link:hover, .link:focus {
    color:  var(--focus-color);
}

/* Шапка старницы */

.logo {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.16;
}
.logo-left {
    color: var(--accent-color);
}

.logo-right {
    color: var(--icon-color);
}

/* Навигация по сайту */
.site-nav .link {
    color:  var(--title-text-color);
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--focus-color);
}

.site-nav .link:hover, .site-nav .link:focus{
    color: var(--focus-color);
}

.link.contact-link {
    text-decoration: none;
    color: var(--foreign-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* Section */
section {
    color: var(--title-text-color);
}

.section-background {
    background-color: var(--icon-color);
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.section-text {
    color: var(--foreign-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* Середина страницы для index.html*/

/* Hero */
.hero-title {
    color: var(--white-title-text-color);
    background-color: var(--color-bb);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button.hero-button {
    text-decoration: none;
    color: var(--white-title-text-color);
}

/* Info */
.features-title, .worker-title {
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.features-text {
    color: var(--foreign-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* Our team */
/* .worker-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
} */

/* Button */
.button {
    color: var(--icon-color);
    background-color: var(--accent-color);
    font-family: inherit;
}

.button.social-media {
    /* наследование класса button */
    color: var(--icon-color);
    text-decoration: none;
}


/* Footer */

.footer-title {
    color: var(--icon-color);
}

.footer-text {
    color: var(--icon-color);
}

/* Середина старницы css для portfolia.html (можно подумать сделать файл отдельный portfolio.html */

/* Свойства CSS Модуль 2 2:44:30 */

/* Portfolio.html */

/* Button */

.button.button-portfolio {
    background-color: var(--icon-color);
    color: var(--accent-color);
}

.button:hover,
.button:focus {
    background-color: var(--focus-color);
    color: var(--white-title-text-color);
}

